<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head th:replace="~{layout ::head}"></head>
<body>
<header th:replace="~{layout ::header}"></header>
<nav th:replace="~{layout ::navigation}"></nav>
<main>

    <div>
        <h2>Admin</h2>
    </div>
    <form th:attr="action=@{/admin/submit}" method="post" th:object="${dto}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" >
        <table>
            <tbody>
            <tr>
                <td><label>Username*</label></td>
                <td>
                    <input type="text" th:field="*{username}">
                    <div class="validation-error" th:errors="*{username}"></div>
                </td>
            </tr>
            <tr>
                <td><label>Password*</label></td>
                <td>
                    <input type="password" th:field="*{password}">
                    <div class="validation-error" th:errors="*{password}"></div>
                </td>
            </tr>
            <tr>
                <td><label>Confirm Password*</label></td>
                <td>
                    <input type="password" th:field="*{passwordConfirmation}">
                    <div class="validation-error" th:errors="*{passwordConfirmation}"></div>
                </td>
            </tr>
            </tbody>
        </table>

        <button class="button-like" type="submit">Submit</button>

    </form>
</main>
<footer th:replace="~{layout ::footer}"></footer>

</body>