body{
    background-color: #0d1117;
    color: #ddd;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    grid-template-areas: "header" "nav" "main" "footer";
    position: relative;
    width: 80%;
    margin: auto;
}
main, nav{
    background-color: rgba(255,255,255,.01);
    border-bottom:solid #8c959f 1.5px;
}
header{
    background-color: #24292f;
    grid-area: header;
    width: 100%;
    padding: 4px 16px;
    box-sizing: border-box;
    display: flex;
    place-content: space-between;
}
nav{
    border-bottom: solid gray 1px;
    min-height: 48px;
    display: flex;
    align-items: center;
    background-color: #24292f;
    grid-area: nav;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    display: flex;
}

main{
    margin: 16px;
    position: relative;
    grid-area: main;
    margin: 16px auto;
    border-top:solid #8c959f 1.5px;
    width: 100%;
    padding: 24px 40px;
    box-sizing: border-box;
}
.landing-box{
    padding: 40px;
    text-align: center;
}

nav a{
    padding: 16px;
    text-decoration: none;
}

form{
    margin: 16px 0;
    padding-bottom: 16px;
}
form td{
    box-sizing: content-box;
    padding: 8px;
}

a{
    color: #ddd;
    text-decoration: underline;
}
.button-like,button{
    background-color:  #21262d;
    padding: 8px 12px;
    border: solid #363b42 1px;
    cursor:pointer;
    border-radius: 8px;
    margin-right: 4px;
    font-size: 14px;
    margin-top: 8px;
    background-image: linear-gradient(45deg,rgba(0,0,0,0), rgba(0,0,0,.3));
    position: relative;
    text-decoration: none;
    color: #ddd;
}
a:hover,button:hover{
    background-color: #666;
}
.button-like:hover,button:hover{
    border: solid #8c959f 1px;
    bottom: 2px;
    left: 2px;
    color: white;
}

.filter{
    margin-bottom: 16px;
}

.data-grid{
    margin-top: 16px;
}
.data-grid td,th{
    padding: 16px;
    border-radius: 4px;
}
.data-grid tr:nth-child(even), .data-grid th{
    background-color: rgba(255, 255, 255, 0.1);
}
.pagination{
    display: flex;
    place-content: space-between;
}

.bold{
    font-weight: bold;
}
input, textarea, select{
    border-radius: 4px;
    width:200px;
    min-height: 20px;
    padding: 4px;
    border: none;
    background-color: #24292f;
    color: #8c959f;
    border: solid #57606a 1px;
    accent-color: black;
}
textarea{
    height:100px;
    resize: none;
}
input:active,textarea:focus,select:focus{
    color: white;
}
.radio{
    display: inline-flex;
    margin: 0 8px;
}
.radio input{
    width: max-content;
    margin: 0 4px;
}
[disabled]{
    cursor:not-allowed;
    opacity: .5;
}
input[type="checkbox"]{
    width: auto;
    margin: 0 8px;
}


.header-box{
    margin: 16px 0;
    line-height:200%;
    padding: 16px;
    border: solid #57606a 1px;
}
footer{
    grid-area: footer;
    font-size: small;
    display: flex;
    place-content: center;
    width: 100%;
    padding: 0 16px;
    padding-top: 40px;
    box-sizing: border-box;
}

.two-side{
    display: grid;
    grid-template-areas: "left right" "bottom bottom";
    grid-template-columns: 4fr 5fr;
    grid-template-rows: 1fr 50px;
    gap: 16px;
}
.two-side>.left{
    grid-area: left;
}
.two-side>.right{
    grid-area: right;
}
.two-side>.bottom{
    grid-area: bottom;
}

.validation-error{
    border-radius: 8px;
    padding: 4px 12px;
    display: inline-block;
    font-size: 90%;
}
.error-box{
    padding: 16px;
    margin-bottom: 24px;
    border-radius: 8px;
}
.validation-error,.error-box{
    background-image: linear-gradient(75deg,rgba(255,255,255,0), rgba(255,255,255,.3));
    color: white;
    background-color: red;
}

.auth{
    margin: auto;
    padding: 24px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
}
.auth input{
    background-color: #0d1117;
    padding: 8px;
}
.auth button{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 240px;
}

.user{
    display: inline-flex;
    align-items:last baseline;
    padding-left: 16px;
    border-radius: 8px;
}
.user form{
    margin: 0 8px;
}
.user form:hover::before{
    content: 'Sign Out';
    font-weight: normal;
    text-transform: none;
    font-size: small;
}

.search-box{
    font-size: smaller;
    display: block;
}
.search-box::before{
    content: 'Search by';
}

nav h3{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 8px;
}


.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.8);
    place-items: center;
    display: none;
}
.pop-up{
    width: 450px;
    background-color: #21262d;
    margin: auto;
    text-align: center;
    border-radius: 8px;
    padding: 24px;
}

main div.pops{
    display: flex;
}
.name::after{
    content: "'s";
}
div.failed{
    background-color: yellow;
    color: black;
}

[data-role="[Admin]"] .profile,
[data-role="[Admin]"] .shop,
[data-role="[Admin]"] .merchandise,
[data-role="[Admin]"] .cart,
[data-role="[Buyer]"] .merchandise,
[data-role="[Buyer]"] .shipment,
[data-role="[Buyer]"] .admin,
[data-role="[Buyer]"] .history,
[data-role="[Seller]"] .shop,
[data-role="[Seller]"] .cart,
[data-role="[Seller]"] .shipment,
[data-role="[Seller]"] .admin,
[data-role="[Seller]"] .history,
[data-role="[Seller]"] .balance-button
{
    display: none;
}

.button-like[data-used="true"],
.button-like[data-service="No"],
.button-like[data-discontinue="Yes"]
{
    opacity: .3;
    cursor:default;
    /* display: none; */
    visibility: hidden;
}
.button-like[data-used="true"]:hover,
.button-like[data-service="No"]:hover,
.button-like[data-discontinue="Yes"]:hover
{
    visibility: hidden;
}
div.modal .header-box table{
    text-align: left;
}
.modal .header-box{
    display: flex;
    flex-direction: column;
    place-content: center;
}