<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head th:fragment="head">
  <meta charset="UTF-8">
  <title>Winterhold</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--  <link rel="icon" type="image/ico" th:href="@{/favicon.ico}">-->
  <link rel="stylesheet" th:href="@{/resources/css/normalize.css}">
  <link rel="stylesheet" th:href="@{/resources/css/font-awesome.css}">
  <link rel="stylesheet" th:href="@{/resources/css/site.css}">
  <!--  <script th:src="@{/resources/js/jquery-3.6.0.js}"></script>-->
</head>
<body>

<div th:fragment="header" class="auth">
  <h2>
    <i class="fas fa-leaf"></i>
    <span class="bold">Troll Market</span>
  </h2>
</div>

</body>
</html>